

#tripCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#card{
border-radius: 20px;
border: 1px solid rgba(0, 0, 5,20);
box-shadow: 5px 5px 7px 7px #585454;

}


#container{
    
 background-color:rgb(96, 218, 235) ;

}
